<menu id="Options">
  <menu id="Welcome" x="40;40;40" y="20;100;20" tooltip="This is the options menu's welcome tab.">
    <title x="1" y="0" />
    <txt x=".5" y="1" w="2" just="left" text=
"Welcome to the options menu of my plugin.

Click on the buttons in the navigation bar
in order to navigate to more meaningful pages."
    />
  </menu>
  <menu id="Help" x="40;40;40" y="20;100;20" tooltip="Get help! Literally.">
    <title x="1" y="0" />
    <txt x=".5" y="1" w="2" just="left" text=
"This is where you can get help or change settings
about the way the plugin attempts to help you."
    />
    <menu id="Manual" x="40;40;40" y="20;100;20" tooltip="The manual explains all the plugin's features">
      <title x="1" y="0" />
    </menu>
  </menu>
  <menu id="Look and Feel" tooltip="Individualize the look and feel of the plugin here.">
    <menu id="Colours" tooltip="Individualize the colour sheme of the plugin here.">
      <colourselector id="bg"/>
      <colourselector id="interact"/>
      <colourselector id="txt"/>
      <colourselector id="mod"/>
      <colourselector id="Inactive"/>
      <colourselector id="darken"/>
      <colourselector id="hover"/>
      <colourselector id="abort"/>
    </menu>
  </menu>
  <menu id="Thank You" x="40;40;40" y="20;100;20" tooltip="I always wanted to become a VST Developer. Thanks to everyone who makes this possible.">
    <!--<imgStrip id="Logos"/>-->
    <txt id="ThanksText" x=".5" y="1" w="2" just="left" text=
"I just want to thank everyone! It really means a lot to me.
I'm producing my own music since I was a child. I was always
fascinated by the creativity used to make all these different
kinds of VST effects and instruments. VST is much more than
just a technology or a trademark. It is a lifestyle!

A lifestyle about experiencing transcendental moments and
a lifestyle about sharing these experiences with each other.

Needless to say my own music was always heavily influenced
by my urge to explore all of these experiences.
I want to make people feel just what I felt through my
plugins now and I really hope I am able to do that."
     />
    <!--
    <linkstrip id="Linkstrip">
      <link id="Support Me" link="https://www.paypal.com/paypalme/alteoma" tooltip="consider this if you find yourself continuously enjoying the experience."/>
      <link id="Discord" link="https://discord.gg/PFnAsvMW5f" tooltip="come to my discord to receive news, or to tell me about bugs or feature requests."/>
    </linkstrip>
    -->
  </menu>
</menu>